html{
    @each $bp-device-size, $min-width in $breckpoints {

        @each $html-device-size, $html-font-size in $html-font-sizes {

            @if $bp-device-size == $html-device-size{

                @media (min-width: $min-width) {
                    
                    font-size: $html-font-size;
                }
            }
        }
    }
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    font-family:  $body-font-family;
    background-color: $body-color;
}

@each $tag, $font-size in $heading-font-sizes {

    #{$tag}{

        font-size: $font-size ;

        @if $tag == h1{

            font-weight: 700;

        }@else{
            
            font-weight: 600;
        }
    } 
}
